* {
  box-sizing: border-box;
}

html,
body,
#___gatsby {
  min-height: 100%;
  width: 100%;
  /* Base font size */
  font-size: 18px;
  line-height: 1.5;
  font-family: "Ubuntu", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
}

ul {
  padding-left: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", Georgia, "Times New Roman", Times, serif;
  margin: 0;
  letter-spacing: 1px;
}
